################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeapEvent/config
/.vs/LeapEvent/DesignTimeBuild
/.vs/LeapEvent/FileContentIndex
/.vs/LeapEvent/v17
/.vs
/.vscode
/LeapEventApi/.config
/LeapEventApi/.vs
/LeapEventApi/bin
/LeapEventApi/obj
/LeapEventApi/Properties
/LeapEventTest/bin
/LeapEventTest/obj/Debug/net8.0
/LeapEventTest/obj
