
    
        <div class="fixed-top-menu">
            <a mat-button (click)="getEvents(30)">Events</a>
            <a mat-button (click)="getEvents(30)">30</a>
            <a mat-button (click)="getEvents(60)">60</a>
            <a mat-button (click)="getEvents(180)">180</a>
            <a mat-button [routerLink]="['sales-summary']">Sales Summary</a>
            <span fxFlex></span>
            <button mat-icon-button (click)="clearCache()"><mat-icon>refresh</mat-icon></button>
        </div>
        <div class="container" style="height: 90vh; padding-top: 60px;">
            <router-outlet></router-outlet>
        </div>
    