<div *ngIf="error" class="error">{{ error }}</div>

<h4>Top 5 Volume Events </h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start</th>
      <th>Total Tickets Sold</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of top5VolumeEvents">
      <td>{{ e.name }}</td>
      <td>{{ e.location }}</td>
      <td>{{ e.startsOn | date: 'medium' }}</td>
      <td>{{ e.totalVolume }}</td>
    </tr>
  </tbody>
</table>


<h4>Top 5 Revenue Events </h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start</th>
      <th>Total Revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of top5RevenueEvents">
      <td>{{ e.name }}</td>
      <td>{{ e.location }}</td>
      <td>{{ e.startsOn | date: 'medium' }}</td>
      <td>${{ e.totalRevenue/100 }}</td>
    </tr>
  </tbody>
</table>